<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Restaraunt_web</display-name>
    <servlet>
  <servlet-name>FrontController</servlet-name>
       <servlet-class>controller.FrontController</servlet-class>
       <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
       <servlet-name>index-page</servlet-name>
       <jsp-file>/pages/index.jsp</jsp-file>
   </servlet>
    <servlet>
        <servlet-name>new-employee-page</servlet-name>
        <jsp-file>/pages/new_employee.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>new-dish-page</servlet-name>
        <jsp-file>/pages/new_dish.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>dish-exists-error-page</servlet-name>
        <jsp-file>/pages/dish_exists_error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>success-dish-page</servlet-name>
        <jsp-file>/pages/success_dish_add.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>new-client-page</servlet-name>
        <jsp-file>/pages/new_client.jsp</jsp-file>
    </servlet>
    <servlet>
       <servlet-name>menu-page</servlet-name>
       <jsp-file>/pages/menu.jsp</jsp-file>
   </servlet>
   <servlet>
       <servlet-name>success-page</servlet-name>
       <jsp-file>/pages/success.jsp</jsp-file>
   </servlet>
    <servlet>
        <servlet-name>error-page_card</servlet-name>
        <jsp-file>/pages/error_card.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>error-page-login</servlet-name>
        <jsp-file>/pages/login_error.jsp</jsp-file>
    </servlet>
   <servlet>
       <servlet-name>successorder-page</servlet-name>
       <jsp-file>/pages/success_base_add.jsp</jsp-file>
   </servlet>
    <servlet>
        <servlet-name>successempladded-page</servlet-name>
        <jsp-file>/pages/success_employee_add.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>email_exists_error-page</servlet-name>
        <jsp-file>/pages/email_exists_error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>phone_exists_error-page</servlet-name>
        <jsp-file>/pages/phone_exists_error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>success_client_added-page</servlet-name>
        <jsp-file>/pages/success_client_add.jsp</jsp-file>
    </servlet>
   <servlet>
       <servlet-name>error-page</servlet-name>
       <jsp-file>/pages/error.jsp</jsp-file>
   </servlet>
   <servlet>
       <servlet-name>daydish-page</servlet-name>
       <jsp-file>/pages/daydish.jsp</jsp-file>
   </servlet>
   <servlet>
       <servlet-name>order-page</servlet-name>
       <jsp-file>/pages/order.jsp</jsp-file>
   </servlet>
   <servlet>
       <servlet-name>view_orders-page</servlet-name>
       <jsp-file>/pages/view_orders.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>FrontController</servlet-name>
       <url-pattern>/action/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>index-page</servlet-name>
       <url-pattern>/index</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new-dish-page</servlet-name>
        <url-pattern>/new_dish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dish-exists-error-page</servlet-name>
        <url-pattern>/dish_already_exists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>success-dish-page</servlet-name>
        <url-pattern>/success_dish_added</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new-employee-page</servlet-name>
        <url-pattern>/new_employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email_exists_error-page</servlet-name>
        <url-pattern>/email_exists_error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phone_exists_error-page</servlet-name>
        <url-pattern>/phone_exists_error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>success_client_added-page</servlet-name>
        <url-pattern>/success_client_added</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new-client-page</servlet-name>
        <url-pattern>/new_client</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
       <servlet-name>successorder-page</servlet-name>
       <url-pattern>/success_order</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
        <servlet-name>successempladded-page</servlet-name>
        <url-pattern>/success_employee_added</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
       <servlet-name>view_orders-page</servlet-name>
       <url-pattern>/view_orders</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>menu-page</servlet-name>
       <url-pattern>/menu</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>daydish-page</servlet-name>
       <url-pattern>/daydish</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>success-page</servlet-name>
       <url-pattern>/success</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>error-page</servlet-name>
       <url-pattern>/error</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error-page_card</servlet-name>
        <url-pattern>/card_num_error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error-page-login</servlet-name>
        <url-pattern>/login_name_error</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
       <servlet-name>order-page</servlet-name>
       <url-pattern>/order</url-pattern>
   </servlet-mapping>
    <filter>
       <filter-name>ConfigFilter</filter-name>
       <filter-class>filters.ConfigFilter</filter-class>
   </filter>
   <filter>
       <filter-name>WaiterFilter</filter-name>
       <filter-class>filters.WaiterAccessFilter</filter-class>
   </filter>
   <!--<filter>-->
       <!--<filter-name>AdminAccessFilter</filter-name>-->
       <!--<filter-class>filters.AdminAccessFilter</filter-class>-->
   <!--</filter>-->
   <filter-mapping>
       <filter-name>ConfigFilter</filter-name>
       <url-pattern>*</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>WaiterFilter</filter-name>
       <url-pattern></url-pattern>
       <dispatcher>REQUEST</dispatcher>
       <dispatcher>FORWARD</dispatcher>
       <dispatcher>INCLUDE</dispatcher>
       <dispatcher>ERROR</dispatcher>
   </filter-mapping>
   <welcome-file-list>
       <welcome-file>index.html</welcome-file>
       <welcome-file>index.htm</welcome-file>
       <welcome-file>pages/index.jsp</welcome-file>
       <welcome-file>default.html</welcome-file>
       <welcome-file>default.htm</welcome-file>
       <welcome-file>default.jsp</welcome-file>
   </welcome-file-list>
</web-app>